

<section id="home-splash" class="local301-main-container__full-height container-opacity-bg -small-lpt">
        <div class="small-12 medium-10 large-8 columns">                        


<h1>Upcoming Events</h1>

<iframe src="https://www.google.com/calendar/embed?mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=65bqs2h5peen93ojcha47hcd7c%40group.calendar.google.com&amp;color=%23B1365F&amp;ctz=America%2FChicago" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>




        </div>
    </div>
</section>

<!--


<%= link_to "Add Event", new_event_path %>
<%= link_to "Past Events", events_path(:timeframe => "past") %>

<% @events.each do |event| %>
  <div class="panel">
    <h3><%= link_to event.name, event %></h3>
    <p>
      <%= event.starts_at.to_s(:full) %><br/>
      <%= event.starts_at.strftime("%-I:%M%#p") %> - <%= event.ends_at.strftime("%-I:%M%#p") %>
    </p>
    <% if event.website %>
      <p><%= event.website %></p>
    <% end %>
  </div>
<% end %>
<td><%# link_to 'Show', event %></td>
<td><%# link_to 'Edit', edit_event_path(event) %></td>
<td><%# link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%= link_to 'New Event', new_event_path %>
-->


