<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @member.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @member.address %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @member.date_of_birth %>
</p>

<p>
  <strong>Hometown:</strong>
  <%= @member.hometown %>
</p>

<p>
  <strong>Website:</strong>
  <%= @member.website %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @member.twitter %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @member.instagram %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @member.facebook %>
</p>

<p>
  <strong>Flickr:</strong>
  <%= @member.flickr %>
</p>

<p>
  <strong>Pinterest:</strong>
  <%= @member.pinterest %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @member.linkedin %>
</p>

<p>
  <strong>Joined on:</strong>
  <%= @member.joined_on %>
</p>

<p>
  <strong>Where have you been:</strong>
  <%= @member.where_have_you_been %>
</p>

<p>
  <strong>Where will you go:</strong>
  <%= @member.where_will_you_go %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
